#logo {
  width: 100%;
  height: 236px; 
  background-color: #ffffff;

}
.yprime-logo {
  /*width: 308px;*/
  height: 112px; 
  margin: 59px 0;
}
.center{
    display:block;
    margin:0 auto;
    text-align:center;
}
.nav{
    margin-left: -0.8em;
    margin-right: -0.8em;
}
/*background for app*/
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
         background-image: linear-gradient(to bottom, #f3f3f3, #d7d7d7);
}
/*radio button*/
    .ui-page-theme-a .ui-btn:active, html .ui-bar-a .ui-btn:active, html .ui-body-a .ui-btn:active, html body .ui-group-theme-a .ui-btn:active, html head + body .ui-btn.ui-btn-a:active {
      background-image: linear-gradient(to bottom, #4492ed, #3482de);
      box-shadow: 1px 1px 1px 0 rgba(23, 76, 138, 0.3);
      color:#ffffff;
    }
    .ui-shadow-inset {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.ui-corner-all {
    -webkit-border-radius: 0;
border-radius: 0;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    color:none;
}
    .ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
        color:none;
    }
        .ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
      color:none;
              }
         .ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:hover {
      color:none;
              }
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
    background-color: transparent;
/*border-color: transparent;
color:none;*/
text-shadow: none;
}
.btn-number.ui-btn.ui-shadow.ui-corner-all{
    width:90px;
    color:white;
}
.btn-icon.green.ui-btn.ui-shadow.ui-corner-all{
    width:90px;
    background-color: #46A618;
    color:white;
}
.btn-icon.darkgray.ui-btn.ui-shadow.ui-corner-all{
    width:90px;
    background: #303F57;
    color: white;
}
.ui-checkbox input, .ui-radio input{
    z-index:-1;
}
/*Login username and password*/
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset{
    width: 335px;
        display:block;
    margin:0 auto;
    border:none;
    background-color:transparent;
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset > #input{
    width: 335px;
        display:block;
    margin:0 auto;
    border:none;
    background-color:transparent;
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset.ui-focus{
    width: 335px;
      display:block;
    margin:0 auto;
      color:#ffffff;
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset.ui-focus > #input{
    width: 335px;
      display:block;
    margin:0 auto;
      color:#ffffff;
}
legend, .ui-input-text input, .ui-input-search input{
    color:none;
}
.auth{
    
    position:relative;
}
/*subject user login icon*/
.subject-user{
      width: 118px;
    background-image: linear-gradient(to bottom, #5c6b7d, #4c5b6c);
  font-family: FontAwesome;
  font-size: 100px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 4px rgba(48, 63, 87, 0.1);
  border:0;
}
/*site user login icon*/
.site-user{
  width: 118px;
  background-image: linear-gradient(to bottom, #f3f3f3, #d7d7d7);
  font-family: FontAwesome;
  font-size: 100px;
  /*line-height: 0.1;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 4px rgba(48, 63, 87, 0.1);
  border:0;
}
/*site user login page*/
form{
  width: auto;
  height: 943px;
  background-image: linear-gradient(to bottom, #3482de, #0054b7);
  margin-left:-0.8em;
  margin-right:-0.8em;
  /*background-image: linear-gradient(to bottom, var(--dark-sky-blue), var(--peacock-blue));*/
}
/*Page content for most pages*/
.content-panel{
  width: 100%;
  height: 1100px;
  background-image: linear-gradient(to bottom, #f3f3f3, #d7d7d7);
}
/* subject selector panel*/
.subject-panel{
  width: 100%;
  height: 1100px;
  background-image: linear-gradient(to bottom, #f3f3f3, #d7d7d7);
  
}
.content-scroll-panel-left{
  width: 45%;
  height: 84%;
   float:left;
  overflow-y:auto
}
.content-scroll-panel-right{
  width: 45%;
  height: 85%;
  float:right;
  overflow-y:auto
}
.content-panel-noHeader{
  width: 100%;
  height: 1200px;
  background-image: linear-gradient(to bottom, #f3f3f3, #d7d7d7);
}
.inner-content{
     width: 100%;
  height: 1100px;
 background-image: linear-gradient(to bottom, #f3f3f3, #d7d7d7);
}
/*Top navigation buttons*/
.nav .left .ui-btn {
    display: inline-block;
    color: white;
    background-image: linear-gradient(-180deg, #5C6B7D 0%, #4C5B6C 100%);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
    font-weight: bold;
    padding-top: 20px;
    padding-right: 26px;
    padding-bottom: 16px;
    padding-left: 26px;
    margin: 10px;
    text-align: center;
    border:none;
}
.nav .right .ui-btn {
    display: inline-block;
    color: white;
    background-image: linear-gradient(-180deg, #5C6B7D 0%, #4C5B6C 100%);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
    font-weight: bold;
    padding-top: 20px;
    padding-right: 26px;
    padding-bottom: 16px;
    padding-left: 26px;
    margin: 10px;
    text-align: center;
    border:none;
}


/* numpad container */
div.numpad {
    margin: 0 auto !important;
    /*padding: 1em;*/
    padding: 0.5em;
}

/* numpad input field */
div.numpad form {
    margin-bottom: 2em;
}

/* numpad input field label */
div.numpad form label {
    text-align: center;
    font-size: 1.6em;
}

/* numpad input field input */
div.numpad form input {
    font-size: 2em;
}

/* centers buttons and gives width */
div.numpad div {
    margin: 0 auto;
    width: 80%;
}

/* numpad button */
div.numpad button {
    font-size: 1.2em;
    height: 2.5em;
    margin: 0 auto;
    width: 100%; /*make sure the button fills the outer container*/
}


/* Users (site or subject) */

.patient-li {
  display: inline-block;
  width: 100%;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #F0F0F0 100%);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25), inset -60px 1px 0px 0px rgba(92,106,125,0.12);
  line-height: 1.5em;
  font-weight: bold;
  padding-top: 19px; 
  padding-bottom: 17px;
  margin: 2px 0 2px 0;
  text-align: center; }
  .patient-li:hover, .patient-li:focus {
    background-image: linear-gradient(-180deg, #5C6B7D 0%, #324050 100%);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.25), inset -60px 0px 0px 0px rgba(48,63,87,0.15);
    color: white; }
  .patient-li.disabled {
    background-image: none;
    opacity: 0.9;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.15);
    color: #E0E0E0; }
  
  .patients-div{
      height:100%;
  }
  .selected-button{
 background-image: linear-gradient(-180deg, #5C6B7D 0%, #324050 100%);
    color: white;
  }
  .li-selected a {
    background-image: linear-gradient(-180deg, #5C6B7D 0%, #324050 100%);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.25), inset -60px 0px 0px 0px rgba(48,63,87,0.15);
    color: white;
}
.a-selected{
  background-image: linear-gradient(-180deg, #5C6B7D 0%, #324050 100%);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.25), inset -60px 0px 0px 0px rgba(48,63,87,0.15);
    color: white;
     outline: 0;
text-decoration: none;
     display: block;
     width: 100%;
     height: 100%;
   }
a.patient-a{
    color: #303F57;
    text-decoration: none;
    outline: 0;
     display: block;
     width: 100%;
     height: 100%;
 }
a.patient-a:visited {
color: white;
 outline: 0;
text-decoration: none;
     display: block;
     width: 100%;
     height: 100%;
 }

.numpad_button {
  display: inline-block;
}
.numpad {
  width: 300px;
  display: inline-block;
}